<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>listaMusica</title>
</head>
<body style = "margin: 0; padding: 0; font-family: 'Century Gothic'; background: url(https://i.joecomp.com/img/google-chrome/270/windows-10-taskbar-not-hiding-in-fullscreen-8-ways-to-solve-it_17.jpg); background-size : 100%">

<ul style = "float: left; list-style-type: none; margin-top: 15px;">
    <li style="display: inline-block"><a href = "homePage_progetti" style="text-decoration: none; color: steelblue; padding: 5px 20px; border: 1px solid #fff">vai alla home</a></li>
    <li style="display: inline-block"><a href = "GestioneRichieste" style="text-decoration: none; color: steelblue; padding: 5px 20px; border: 1px solid #fff; background-color: black; margin-left: 40px">Gestisci Richieste</a></li>
</ul>
<h1 style = "color:#ffffff; margin-left: 45%">Lista progetti</h1>
<div class="card" style="background-color: black; border-radius: 5px; margin: 30px; box-shadow: 2px 2px 2px 10px black">
    <div class="card-header" style = "color: white">
        <span th:object="${utente}">
        Leader del team : <p th:text="'id: ' + ${id}" />
        <p th:text="'nome: ' + ${nome}" />
            </span>
    </div>

    <div class="card-body">
        <h5 class="card-title" style = "color: white">Creazione band</h5>
        <p class="card-text" style = "color: white">Si cercano 5 componenti per la creazione di una band sponsorizzata dai biscotti balocco, sono richiesti: 1 cantante, 2 chitarristi, 1 tastierista, 1 batterista.</p>
        <a href="singoloprog" class="btn btn-primary" style = "color: darkblue">Apri il progetto</a>
    </div>
</div>

</body>
</html>