<!DOCTYPE html>
<html xmlns: xmlns:th="http://www.w3.org/1999/xhtml" th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrati</title>
</head>
<body>
<form th:action="@{/registrati}" th:object="${utente}" method="post" >
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4" th:object="${email}">Email</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>

    </div>

    <button type="submit" class="btn btn-primary">Sign in</button>
</form>
</body>
</html>